
h1, h2, h3, h4, h5, h6, p {font-family: 'Bree Serif', serif;}

#container.text-center  {font-family: 'Bree Serif', serif;}

h3 {
  font-size:20px;
  padding-right: 60px;
}

p {
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  padding-right: 60px;
}


.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .col-sm-4 {
      width: 33.33333333%;
      padding-top: 10px;
      color:#405d27;
    }

    footer {
      background-color:#405d27;
      padding: 25px;
      text-align: center;
    }
    
    .carousel-inner img {
      width: 100%; 
      margin: auto;

    }
/* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
          .carousel-caption {
            display: none; 
          }
        }

